@model eProjectAptitude.Models.Entity.User

@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Home/_MyLayout.cshtml";
}

<h2>DeleteUser</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneralKnowledgeExamMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralKnowledgeExamMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MathematicsExamMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MathematicsExamMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputerTechnologyExamMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputerTechnologyExamMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateExam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateExam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Management")
        </div>
    }
</div>
