@model eProjectAptitude.Models.Entity.Examination

@{
    ViewBag.Title = "DeleteExamination";
    Layout = "~/Views/Home/_MyLayout.cshtml";
}

<h2>DeleteExamination</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Examination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeStartExam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStartExam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEndExam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEndExam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdE)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteExamination", "Examination", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ExaminationManagement")
        </div>
    }
</div>
